div.home {
  background: radial-gradient(black, #000089);
  position: relative;
  color: whitesmoke;
  height: 1000px;
  width: auto;
}

h2.mission {
  text-align: center;
  align-contents: center;
}
