nav {
  font-size: 24px;
  display: flex;
  row-gap: 12px;
}

nav p {
  display: inline-flex;
}

p.about Link.about {
  color: red;
  margin: 0px 12px 0px 0px;
}

p.contact Link.contact {
  margin: 0 12px 0 0;
}

p.sustainability Link.sustainability {
  
}